<div class="header">
    <div class="header__logo-box">
        <img src="assets/logo/Logo3.png" alt="logo" class="header__logo" />
    </div>

    <div class="header__text-box">

        <h1 class="heading-primary">
            <span class="heading-primary--main">
                <img src="assets/logo/Lidaco_wit.png" alt="Full logo" class="header__lidaco">
            </span>
            <span class="heading-primary--sub">{{title}}</span>
        </h1>

        <a  href="#section-stories" class="btn btn--white btn--animated">
            {{buttonTitle}}
        </a>

    </div>
</div>