//COLORS

$dark-orange: #FF5941;
$dark-green: #125B4A;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black:#000;

//GRID

$grid-width: 70rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;