//COLORS

$color-primary: #FF5941;
$color-secondary: #125B4A;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black:#000;

//FONT

$default-font-size: 1.4rem;
$small-font-size: 1rem;

//GRID

$grid-width: 90rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;