@import "../sass/abstracts/variables";

.section-about {
    background-color: $color-grey-light-1;
    padding: 20rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom,
        rgba($color-secondary, 0.8),
        rgba($color-primary, 0.8)),
        url(../assets/img/coaching2.jpg);
    background-size: cover;
    background-position: top;

    transform: skewY(-7deg);
    margin-top: -10rem;

    //select all the direct childs
    &>* {
        transform: skewY(7deg);
    }
}

.section-coaching {
    background-color: $color-grey-light-1;
    padding: 20rem 0 8rem 0;
    margin-top: -12vh;
}

.section-stories {
    position: relative;
    padding: 10rem 0;
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
}

.book {
    background-image: url(../assets/img/coaching-book3.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    height: 50rem;
}