<app-scroll-top></app-scroll-top>
<app-lid-navigation-section></app-lid-navigation-section>

<header>
    <app-lid-header-section [title]="'Coaching & intelligence collective'"
        [buttonTitle]="'Monique Ribesse – Coach certifiée ICF'">
    </app-lid-header-section>
</header>

<main>
    <section class="section-about" id="section-about">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                AVANCER PLUS VITE, PLUS LOIN, AVEC PLUS D’ÉNERGIE
            </h2>
        </div>

        <div class="row">
            <div class="col-1-of-2">

                <h3 class="heading-tertiary u-margin-bottom-small">
                    LE COACHING, POUR MOI ET MON EQUIPE
                </h3>
                <p class="paragraph">
                    Votre environnement familial ou professionnel subit de profondes modifications; vous éprouvez de la
                    peine à maîtriser les changements, la charge de travail, à vous engager dans une nouvelle voie ;
                    vous procrastinez, vous voulez mieux avancer dans votre projet
                </p>
                <a href="#section-features" class="btn-text">En savoir plus &rarr;</a>

                <h3 class="heading-tertiary u-margin-bottom-small u-margin-top-big">
                    PLUS D’INTELLIGENCE COLLECTIVE, POUR MON ORGANISATION
                </h3>
                <p class="paragraph">
                    Vous vivez des changements profonds dans votre entreprise, dans votre équipe et vous voulez
                    (re)prendre la barre ?
                </p>
                <p class="paragraph">
                    Vous désirez maximiser votre impact et celui de votre équipe.
                </p>

                <p class="paragraph">
                    Vous voulez développer des approches
                    appropriées pour déployer de l’intelligence collective, le travail collaboratif, les communautés de
                    pratique, le mentoring, la gestion des connaissances ?
                </p>

                <a href="#" class="btn-text">En savoir plus &rarr;</a>

            </div>
            <div class="col-1-of-2">
                <div class="composition">
                    <img src="assets/img/Coaching_20190718_04_WEB.jpg" alt="Photo 1"
                        class="composition__photo composition__photo--p1">
                    <img src="assets/img/groep-1.png" alt="Photo 2" class="composition__photo composition__photo--p2">
                    <img src="assets/img/groep-2.png" alt="Photo 3" class="composition__photo composition__photo--p3">
                </div>
            </div>
        </div>

    </section>

    <section class="section-features" id="section-features">

        <div class="row">
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-world"></i>
                    <h3 class="heading-tertiary">GAGNER EN CONFIANCE</h3>
                    <p class="feature-box__text">
                        Avoir accès à mon plein potentiel, développer mes ressources existantes et en découvrir de
                        nouvelles, augmenter ou retrouver ma capacité à prendre la bonne décision pour moi et pour les
                        autres
                    </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-target"></i>
                    <h3 class="heading-tertiary">CLARIFIER MES OBJECTIFS</h3>
                    <p class="feature-box__text">
                        Définir ce que je veux atteindre, individuellement ou avec mon équipe.
                    </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-question"></i>
                    <h3 class="heading-tertiary">MIEUX ME CONNAÎTRE</h3>
                    <p class="feature-box__text">
                        Découvrir mes points forts, mes freins, mes accélérateurs, mes zones d’ombre et de lumière.
                        Prendre du recul et de la hauteur pour mieux avancer.
                    </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-signs"></i>
                    <h3 class="heading-tertiary">ALLER DE L'AVANT / SORTIR DU LABYRINTE</h3>
                    <p class="feature-box__text">
                        Contourner les obstacles, transformer les contraintes en opportunités, préciser le cap,
                        développer mes solutions, celles de mon équipe, et les mettre en œuvre concrètement, sans
                        tarder.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-coaching" id="section-coaching">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                NOUS VOUS PROPOSONS
            </h2>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--1">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--1">
                                Coaching individuel
                            </span>
                        </h4>
                        <div class="card__details">
                            <p class="feature-box__text">
                                Nous vous accompagnions pour atteindre vos objectifs et projets (de changement). Grâce à
                                une écoute active, des questions puissantes, un accompagnement comme partenaire.
                            </p>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-1">
                        <div class="card__details u-color-white">
                            <p class="feature-box__text">
                                Un 1er entretien nous permettra de nous assurer qu’il y a affinité et d’établir les
                                modalités du coaching. Les séances sont menées en présentiel ou à distance. Entre les
                                séances, vous pourrez avoir des actions précises à accomplir, qui vous aideront à
                                réaliser vos objectifs.
                            </p>
                            <p class="feature-box__text u-margin-top-small">
                                La durée de la relation de coaching varie en fonction de vos besoins et préférences.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--2">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--2">
                                Group coaching
                            </span>
                        </h4>
                        <div class="card__details">
                            <p class="feature-box__text">
                                Nous vous aidons à développer vos projets de changement en maximisant leur potentiel de
                                succès, avec des méthodologies éprouvées, novatrices de coaching d’équipe.
                            </p>
                            <p class="feature-box__text u-margin-top-small">
                                Nous accompagnons vos projets d’intelligence collective, permettant à vos équipes de
                                collaborer avec succès : Co-développement, communautés de pratiques, mentoring, …
                            </p>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-2">
                        <div class="card__details u-color-white">
                            <p class="feature-box__text">
                                Après une première réunion permettant de s’accorder sur votre besoin, nous élaborerons
                                un
                                plan d’action qui guidera l’accompagnement du groupe vers l’objectif.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--3">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--3">
                                Formations conférences
                            </span>
                        </h4>
                        <div class="card__details">
                            <p class="feature-box__text">
                                Découvrez des modes de fonctionnement plus agiles et collaboratifs, améliorez vos
                                savoirs faire en vous dotant d’outils méthodologiques directement utilisables dans votre
                                environnement. Les conférences et formations sont puissantes, dynamiques, interactives,
                                détendues.
                            </p>
                            <p class="feature-box__text u-margin-top-small">
                                Exemples de Sujets : mentoring, COP (communautés de pratiques), gestion des
                                connaissances, transfert des connaissances, changement, nouveaux way of working, …
                            </p>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-3">
                        <div class="card__details u-color-white">
                            <p class="feature-box__text">
                                Les formations et conférences sont données en présentiel et / ou à distance sous forme
                                de webinaires.
                            </p>
                            <p class="feature-box__text u-margin-top-small"> Elles peuvent prendre la forme d’un «
                                blended Learning »
                                associant le
                                travail individuel et collectif. </p>
                            <p class="feature-box__text u-margin-top-small">
                                Elles sont développées afin de maximiser l’interaction
                                des participants et l’utilisation concrète et immédiate des outils et méthodes
                            </p>
                        </div>
                        <!-- <div class="card__cta">
                            <div class="card__price-box">
                                <div class="card__price-only">Only</div>
                                <div class="card__price-value">$297</div>
                            </div>
                            <a href="#popup" class="btn btn--white">Book now</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="u-center-text u-margin-top-big">
            <a href="#section-book" class="btn btn--orange">Contact </a>
            <!-- <a href="#" class="btn btn--orange">Discover all coaching options</a> -->
        </div>

    </section>

    <section class="section-stories" id="section-stories">

        <div class="bg-video">
            <video class="bg-video__content" autoplay muted loop id="vid">
                <source src="assets/video/beach.mp4" type="video/mp4">
                <source src="assets/video/beach.webm" type="video/webm">
                Your browser is not supported
            </video>
        </div>

        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                QUI SOMMES NOUS
            </h2>
        </div>

        <div class="row">
            <div class="story">
                <!-- <figure class="story__shape">
                    <img src="assets/img/Monique_20190718_05_WEB.jpg" alt="" class="story__img">
                    <figcaption class="story__caption">Monique Ribesse</figcaption>
                </figure> -->

                <div class="story__text">
                    <h3 class="heading-tertiary">Nos Services</h3>
                    <p class="u-margin-top-small">
                        Les propositions de services de LIDACO sont développées par Monique Ribesse. Elles s’appuient
                        sur un parcours professionnel de plus de 25 ans dans des entreprises belges, françaises et
                        internationales
                    </p>
                    <p class="u-margin-top-small">Elles se fondent sur une large expérience de gestion d’équipes, de
                        transformation individuelle et
                        du déploiement de l’intelligence collective au travers de fonctions de responsable des
                        ressources humaines, de la gestion des connaissances et de la gestion du changement.</p>
                    <p class="u-margin-top-small">
                        Elles s’appuient également sur des compétences avérées en coaching et executive coaching,
                        certifiées par l’ICF (International Coaching Federation).
                    </p>
                    <h3 class="heading-tertiary u-margin-top-medium">L’objectif de LIDACO</h3>
                    <p class="u-margin-top-small">
                        Vous accompagner vers votre objectif en toute sérénité. En vous aidant à libérer et déployer
                        votre plein potentiel avec impact, audace, en toute conscience et respect. 
                        Que ce soit dans le
                        cadre d’un coaching individuel, d’un coaching d’équipe ou du déploiement de l’intelligence
                        collective dans votre environnement, nous vous amènerons à prendre du recul, challenger votre
                        vision et perceptions pour vous amener à trouver ves solutions innovantes appropriées et à les
                        déployer avec succès.
                    </p>
                </div>
            </div>
        </div>

        <div class="u-center-text u-margin-top-big">
            <a href="#popup" class="btn-text">Ce qui inspire nos clients &rarr;</a>
        </div>

    </section>

    <section class="section-book" id="section-book">
        <div class="row">
            <div class="book">
                <div class="book__form">
                    <form action="#" class="form">
                        <div class="u-margin-bottom-medium">
                            <h2 class="heading-secondary">
                                PRENEZ CONTACT
                            </h2>
                        </div>
                        <div class="form__group">
                            <input type="text" class="form__input" placeholder="Nom" id="name" required>
                            <label for="name" class="form__label">Nom</label>
                        </div>

                        <div class="form__group">
                            <input type="email" class="form__input" placeholder="Mail" id="email" required>
                            <label for="email" class="form__label">Mail</label>
                        </div>

                        <div class="form__group u-margin-bottom-medium">
                            <div class="form__radio-group">
                                <input type="radio" class="form__radio-input" id="oneonone" name="size">
                                <label for="oneonone" class="form__radio-label">
                                    <span class="form__radio-button"></span>Coaching individuel</label>
                            </div>
                            <div class="form__radio-group">
                                <input type="radio" class="form__radio-input" id="group" name="size">
                                <label for="group" class="form__radio-label">
                                    <span class="form__radio-button"></span>Group</label>
                            </div>
                            <div class="form__radio-group">
                                <input type="radio" class="form__radio-input" id="class" name="size">
                                <label for="class" class="form__radio-label">
                                    <span class="form__radio-button"></span>Formation ou conférence</label>
                            </div>
                        </div>

                        <div class="form__group">
                            <button class="btn btn--orange">Next step &rarr;</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

</main>

<footer>
    <app-lid-footer-section></app-lid-footer-section>
</footer>

<div class="popup" id="popup">
    <div class="popup__content">
        <div class="popup__left">
            <img src="assets/img/stories1.jpg" alt="Tour photo" class="popup__img">
            <img src="assets/img/stories2.jpg" alt="Tour photo" class="popup__img">
        </div>
        <div class="popup__right">
            <a href="#section-coaching" class="popup__close">&times;</a>
            <h2 class="heading-secondary u-margin-bottom-small">Start booking now</h2>
            <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Please read these terms</h3>
            <p class="popup__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Dignissim sodales ut eu sem integer vitae justo eget magna. Mus mauris vitae
                ultricies leo integer. Et odio pellentesque diam volutpat. Magna etiam tempor orci eu. Sit amet
                venenatis urna cursus eget nunc. Diam sit amet nisl suscipit adipiscing bibendum est ultricies integer.
                Vel orci porta non pulvinar neque. Eu scelerisque felis imperdiet proin fermentum leo vel. Tristique et
                egestas quis ipsum suspendisse ultrices gravida dictum fusce. Dignissim sodales ut eu sem integer vitae
                justo eget. Tellus in hac habitasse platea dictumst vestibulum rhoncus est.
            </p>
            <a href="#section-book" class="btn btn--orange">Book now</a>
        </div>
    </div>
</div>

<!-- <section class="grid-test">

    <div class="row">
        <div class="col-1-of-2">
            col-1-of-2
        </div>
        <div class="col-1-of-2">
            col-1-of-2
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-3">
            col-1-of-3
        </div>
        <div class="col-1-of-3">
            col-1-of-3
        </div>
        <div class="col-1-of-3">
            col-1-of-3
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-3">
            col-1-of-3
        </div>
        <div class="col-2-of-3">
            col-2-of-3
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-4">
            col-1-of-4
        </div>
        <div class="col-1-of-4">
            col-1-of-4
        </div>
        <div class="col-1-of-4">
            col-1-of-4
        </div>
        <div class="col-1-of-4">
            col-1-of-4
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-4">
            col-1-of-4
        </div>
        <div class="col-1-of-4">
            col-1-of-4
        </div>
        <div class="col-2-of-4">
            col-2-of-4
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-4">
            col-1-of-4
        </div>
        <div class="col-3-of-4">
            col-3-of-4
        </div>
    </div>

</section> -->