@import "../sass/abstracts/variables";

.section-about {
    background-color: $color-grey-light-1;
    padding: 20rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom,
        rgba($color-secondary, 0.8),
        rgba($color-primary, 0.8)),
        url(../assets/img/coaching2.jpg);
    background-size: cover;
    background-position: top;

    transform: skewY(-7deg);
    margin-top: -10rem;

    //select all the direct childs
    & > * {
        transform: skewY(7deg);
    }
}

.section-coaching {
    background-color: $color-grey-light-1;
    padding: 20rem 0 8rem 0;
    margin-top: -12vh;
}

.section-stories {
    position: relative;
    padding: 10rem 0;
}