<header class="header">
    <div class="header__logo-box">
        <img src="../assets/logo/Logo3.png" alt="logo" class="header__logo" />
    </div>

    <div class="header__text-box">

        <h1 class="heading-primary">
            <span class="heading-primary--main">Lidaco</span>
            <span class="heading-primary--sub">coaching & consultancy</span>
        </h1>

        <a href="#" class="btn btn--white btn--animated">
            Discover coaching
        </a>
    </div>
</header>

<main>
    <section class="section-about">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                Coaching for inspiring people
            </h2>
        </div>

        <div class="row">
            <div class="col-1-of-2">

                <h3 class="heading-tertiary u-margin-bottom-small">
                    What is coaching all about ?
                </h3>
                <p class="paragraph">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, ducimus in ipsum aut recusandae
                    voluptas voluptatum incidunt mollitia ipsam.
                </p>

                <h3 class="heading-tertiary u-margin-bottom-small">
                    What about coaching lessons ?
                </h3>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro laborum, in temporibus incidunt,
                    vitae qui.
                </p>

                <a href="#" class="btn-text">Learn more &rarr;</a>

            </div>
            <div class="col-1-of-2">
                <div class="composition">
                    <img src="../assets/img/coach_about_1.png" alt="Photo 1"
                        class="composition__photo composition__photo--p1">
                    <img src="../assets/img/coach_about_2.png" alt="Photo 2"
                        class="composition__photo composition__photo--p2">
                    <img src="../assets/img/coach_about_3.png" alt="Photo 3"
                        class="composition__photo composition__photo--p3">
                </div>
            </div>
        </div>

    </section>

    <section class="section-features">

        <div class="row">
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-world"></i>
                    <h3 class="heading-tertiary">Self confidence</h3>
                    <p class="feature-box__text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis.
                        Facilis, ducimus in ipsum aut recusandae
                    </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-target"></i>
                    <h3 class="heading-tertiary">Set your goals</h3>
                    <p class="feature-box__text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis.
                        Facilis, ducimus in ipsum aut recusandae
                    </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-question"></i>
                    <h3 class="heading-tertiary">Self reflection</h3>
                    <p class="feature-box__text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis.
                        Facilis, ducimus in ipsum aut recusandae
                    </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-signs"></i>
                    <h3 class="heading-tertiary">Find your way</h3>
                    <p class="feature-box__text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis.
                        Facilis, ducimus in ipsum aut recusandae
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-coaching">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                Coaching options for you
            </h2>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--1">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--1">
                                One on one
                            </span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>some</li>
                                <li>more</li>
                                <li>info</li>
                                <li>about</li>
                                <li>one on one</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-1">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <div class="card__price-only">Only</div>
                                <div class="card__price-value">$297</div>
                            </div>
                            <a href="#" class="btn btn--white">Book now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--2">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--2">
                                Group coaching
                            </span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>some</li>
                                <li>more</li>
                                <li>info</li>
                                <li>about</li>
                                <li>group coaching</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-2">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <div class="card__price-only">Only</div>
                                <div class="card__price-value">$297</div>
                            </div>
                            <a href="#" class="btn btn--white">Book now</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--3">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--3">
                                Coaching class
                            </span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>some</li>
                                <li>more</li>
                                <li>info</li>
                                <li>about</li>
                                <li>coaching class</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-3">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <div class="card__price-only">Only</div>
                                <div class="card__price-value">$297</div>
                            </div>
                            <a href="#" class="btn btn--white">Book now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="u-center-text u-margin-top-big">
            <a href= "#" class="btn btn--orange">Discover all coaching options</a>
        </div>


    </section>

</main>

<!-- <section class="grid-test">

    <div class="row">
        <div class="col-1-of-2">
            col-1-of-2
        </div>
        <div class="col-1-of-2">
            col-1-of-2
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-3">
            col-1-of-3
        </div>
        <div class="col-1-of-3">
            col-1-of-3
        </div>
        <div class="col-1-of-3">
            col-1-of-3
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-3">
            col-1-of-3
        </div>
        <div class="col-2-of-3">
            col-2-of-3
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-4">
            col-1-of-4
        </div>
        <div class="col-1-of-4">
            col-1-of-4
        </div>
        <div class="col-1-of-4">
            col-1-of-4
        </div>
        <div class="col-1-of-4">
            col-1-of-4
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-4">
            col-1-of-4
        </div>
        <div class="col-1-of-4">
            col-1-of-4
        </div>
        <div class="col-2-of-4">
            col-2-of-4
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-4">
            col-1-of-4
        </div>
        <div class="col-3-of-4">
            col-3-of-4
        </div>
    </div>

</section> -->