/* You can add global styles to this file, and also import other style files */

/*
dark orange: #FF5941;
dark green: #125B4A;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1vh;
    line-height: 1.7;
    color: #777;
    padding: 2vh;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
        rgba(18, 91, 74, 0.8),
        rgba(255, 90, 65, 0.8)),
        url(./assets/img/Coaching1.png);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 3vh;
    left: 3vh;

    backface-visibility: hidden;
}

.logo {

    height: 6vh;
    transform: rotateY(180deg);
}

.logo:hover {
    cursor: pointer;
    animation: rotatecstm 1s ease-out;
}

.heading-primary {
    color: white;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 2vh;
}

.heading-primary-main {
    display: block;
    font-size: 6vh;
    font-weight: 400;
    letter-spacing: 3.8vh;

    animation: moveInLeft 1s ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 2vh;
    font-weight: 500;
    letter-spacing: 0.6vh;

    animation: moveInRight 1s ease-out;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

@keyframes moveInLeft {

    0% {
        opacity: 0;
        transform: translateX(-30%)
    }

    80% {
        transform: translateX(5%)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes moveInRight {

    0% {
        opacity: 0;
        transform: translateX(30%)
    }

    80% {
        transform: translateX(-5%)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes moveInBottom{
    0% {
        opacity: 0;
        transform: translatey(50%)
    }


    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes rotatecstm {

    0% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(540deg);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1vh;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;

    font-weight: 700;
}

.btn:hover {
    transform: translateY(-0.2vh);
    box-shadow: 0 0.4vh 0.6vh rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-0.1vh);
    box-shadow: 0 0.2vh 0.3vh rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn-animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
}

